.blog {

  &_item {
  min-height: 384px;
  }
  
  &_img {
    width: 240px;
    height: 150px;
  }

  &_slider {
    width: 38%;
    height: 7px;
    border-radius: 8px;
    background-color: #1A242E;
    position: relative;
    transition: all 0.2ms;

    &-active {
      position: absolute;
      height: 7px;
      width: 16.667%;
      border-radius: 8px;
      background-color: #00FF25;
      box-shadow: 0px 0px 10px rgba(0, 255, 105, 0.5);
    }
  }
}

.slick-slider {
  width: 100%;
}