@mixin button-base {
  padding: 16px 24px;
  margin: 24px 0;
  font-weight: bold;
  border-radius: 20px;
  text-align: center;
  cursor: pointer;
}

.button {
  @include button-base;
  &--sm {
    width: 120px;

    &--green {
      background: radial-gradient(
        650.09% 100% at 50% 0%,
        #00ff72 0%,
        #00ff9d 100%
      );
      box-shadow: inset 0px 1px 30px rgba(255, 0, 193, 0.195454);

      &:hover {
        background: radial-gradient(
          650.09% 100% at 50% 0%,
          #87fdbb 0%,
          #208853 100%
        );
      }
    }
  }

  &--sm--purple {
    @include button-base;
    width: 120px;
    background: #5b6cad;
  }

  &--md--green {
    width: 170px;
    background: radial-gradient(
      650.09% 100% at 50% 0%,
      #00ff72 0%,
      #00ff9d 100%
    );
    box-shadow: inset 0px 1px 30px rgba(255, 0, 193, 0.195454);
    font-size: 20px;
    line-height: 23px;
    &:hover {
      background: radial-gradient(
        650.09% 100% at 50% 0%,
        #87fdbb 0%,
        #208853 100%
      );
    }
  }

  &--lg--transparent {
    width: 240px;
    color: #fff;
    background-color: transparent;
    border-radius: 5px;
    border: 2px solid #44dfab;
    &:hover {
      background-color: #44dfab;
      color: #181a25;
    }
  }
}
