.header_menu li:last-child:after {
  content: "";
}

.header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0 24px;
  z-index: 1;

  &_logo {
    width: 70px;
    height: 60px;
  }

  &_menu {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 42px 0;

    &_item {
      margin: 0 28px;
      a:hover,
      &:hover {
        color: #44dfab;
      }
    }

    &_social-item {
      margin: 6px 0;
      &:hover {
        color: #44dfab;
      }
    }

    &_drop-down {
      cursor: pointer;

      &_arrow {
        display: flex;
      }
      &_social-group {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: absolute;
        transform: translate(33%);
        @media (max-width: 992px) {
          flex-direction: row;
          transform: translate(-33%);
          p {
            margin: 8px 5px;
          }
        }
      }

      p:first-child {
        position: relative;
      }
    }

    // header_menu
    @media (max-width: 992px) {
      display: none;
      flex-direction: column;
      align-items: center;
      margin-top: 32px;
      width: 80%;
      &_item {
        margin: 10px 0;
      }
    }

    // open mobile menu
    &.open {
      display: flex;
      // margin-bottom: 88px;
    }
  }

  &_mobile-menu {
    display: none;
    cursor: pointer;
    img {
      width: 32px;
      height: 32px;
    }

    @media (max-width: 992px) {
      display: block;
    }
  }

  // header
  @media (max-width: 992px) {
    justify-content: space-between;
    align-items: flex-start;
    position: fixed;
    left: 0;
    right: 0;
    padding-top: 24px;
    padding-bottom: 8px;
    background-color: #181a25;
  }
}

// arrow
.fas {
  margin-left: -15px;
  margin-top: 3px;

  &:hover {
    color: #44dfab;
  }

  @media (max-width: 992px) {
    margin-left: 8px;
    margin-top: 12px;
  }
}
