.header_menu li:last-child:after {
  content: '';
}

.header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0 24px;
  
    &_logo {
      width: 47px;
      height: 60px;
    }

    &_menu {
      display: flex;
      justify-content: center;
      width: 100%;
      padding: 42px 0;

      &_item {
        margin: 0 28px;
        a:hover, &:hover {
          color: #44DFAB;
        }
      }

      &_social-item {
        margin: 6px 0;
        &:hover {
          color: #44DFAB;
        }
      }

      &_drop-down {
        cursor: pointer;

        &_social-group {
          display: flex;
          flex-direction: column;
          align-items: center;
          position: absolute;
          transform: translate(33%);
        }

        p:first-child {
          position: relative;
        }
      }

    @media(max-width: 992px) {
      display: none;
    }
    }
    
    &_menu-button {
      width: 32px;
      height: 32px;
      display: none;
      @media(max-width: 992px) {
        display: block;
      }
      }

    @media(max-width: 992px) {
      justify-content: space-between;
    }
}

.fas {
  margin-left: -15px;
  margin-top: 3px;
  &:hover {
    color: #44DFAB;
  }
}