.resources {
  background: rgba(23, 25, 36, 0.35);

  &_wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 72px;

    @media (max-width: 992px) {
      text-align: center;
      justify-content: center;
    }
  }

  &_info {
    max-width: 670px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    @media (max-width: 992px) {
      align-items: center;
    }
  }

  &_text {
    margin: 52px 0 40px 32px;
    text-align: right;

    @media (max-width: 992px) {
      text-align: center;
    }
  }

  @media (max-width: 992px) {
    justify-content: space-around;

    &_img {
      margin-bottom: 16px;
    }
  }
}
